h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: orange;
}
    
.education-container {
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
  }
  
  .education-heading {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
  
  .education-item {
    margin-bottom: 20px;
  }
  
  .education-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .education-subtitle {
    font-size: 18px;
    margin-left: 20px;
  }
  